<%= extends :authenticated do %>
  <%= prepend :content do %>
    <header class="hero">
      <div class="hero__header">
        <div class="grid">
          <div class="flag">
            <div class="flag__figure">
              <%= link_to member_path(id: @view.member.id) do %>
                <%= gravatar_for_member(@view.member, size: :large) %>
              <% end %>
            </div>
            <div class="flag__content">
              <span class="h4"><%= @view.time_boundaries %></span>
              <h1 class="h1 slam-margin"><%= @view.title %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  <% end %>

  <%= area :content_inner do %>
    <div class="grid">
      <div class="panel">
        <ul class="data-row">
          <li class="data-row__item">
            <h6 class="h3 data-row__item__value"><%= @view.duration %></h6>
            <span class="data-row__item__key">Duration</span>
          </li>
          <li class="data-row__item">
            <h6 class="h3 data-row__item__value"><%= @view.distance %></h6>
            <span class="data-row__item__key">Distance</span>
          </li>
          <li class="data-row__item">
            <h6 class="h3 data-row__item__value">XXX</h6>
            <span class="data-row__item__key">Training Stress Score</span>
          </li>
          <li class="data-row__item">
            <h6 class="h3 data-row__item__value">
              <ul class="avatar_row">
                <% User.all.each do |user| %>
                  <li class="avatar_row__item">
                    <%= link_to member_path(id: user.id) do %>
                      <%= gravatar_for_member(user, size: :small) %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </h6>
            <span class="data-row__item__key">Training Partners</span>
          </li>
        </ul>
      </div>

      <hr class="divider">

    </div>
  <% end %>
<% end %>
