<%= extends :authenticated do %>
  <%= prepend :content do %>
    <header class="hero">
      <div class="hero__header">
        <div class="grid">
          <div class="flag">
            <div class="flag__figure">
              <%= gravatar_for_member(@view.member, size: :large) %>
            </div>
            <div class="flag__content">
              <%= @view.time_boundaries %>
              <h1 class="h1"><%= @view.title %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  <% end %>

  <%= area :content_inner do %>
    <div class="grid">
      <ul class="data-row">
        <li class="data-row__item">
          <h6 class="h3 data-row__item__value"><%= @view.duration %></h6>
          <span class="data-row__item__key">Duration</span>
        </li>
        <li class="data-row__item">
          <h6 class="h3 data-row__item__value"><%= @view.distance %></h6>
          <span class="data-row__item__key">Distance</span>
        </li>
        <li class="data-row__item">
          <h6 class="h3 data-row__item__value">
            <ul class="avatar_row">
              <% User.all.each do |user| %>
                <li class="avatar_row__item">
                  <%= gravatar_for_member(user, size: :small) %>
                </li>
              <% end %>
            </ul>
          </h6>
          <span class="data-row__item__key">Training Partners</span>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
