<div class="panel">
  <div class="panel__content--padded">
    <%= form_tag sessions_path(provider: "identity") do %>
      <%= label_tag(:auth_key, t(".auth_key")) %>
      <%= text_field_tag(:auth_key, "", placeholder: "your_email@example.com") %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= button_tag(t(".submit"), class: "button--fluid") %>
    <% end %>
  </div>
</div>
