<% if current_user %>
  <nav class="navigation">
    <%= link_to(t("dashboard"), dashboard_path, class: "navigation__item") %>
    <%= link_to(t("profile"), "#", class: "navigation__item") %>
    <%= link_to(t("upload"), upload_path, class: "navigation__item is-cta", "data-no-turbolink" => true) %>

    <div class="account_info">
      <%= render :partial => "shared/avatar", locals: {css_class: "account_info__avatar"} %>
      <div class="account_info__content">
        <%= current_user.name %>
        <br>
        <%= link_to(t("sign_out"), sign_out_path, method: :put) %>
      </div>
    </div>
  </nav>
<% end %>
