<% view = HomesHelper::NewHomesHelper.new %>

<%= extends :landing do %>
  <% replace :title,          t(".title") %>
  <% append  :body_class,     ' landing' %>

  <% replace :landing_hero do %>
    <div class="landing__hero__content grid-container">
      <article class="desk-span-five">
        <h1 class="landing__hero__header display-header">
          <%= improve t(".landing.heading") %>
        </h1>
        <p><%= improve t(".landing.intro_copy") %></p>
        <%= link_to(t(".landing.call_to_action"), sign_up_path, class: "landing__signup", title: t(".landing.call_to_action")) %>
      </article>

      <figure class="landing__figure desk-span-five">
        <%= image_tag('landing/pulse@2x.png', height: '309', width: '633') %>
      </figure>
    </div>
  <% end %>

  <% append :content_inner do %>
    <div class="landing__features">
      <%= render partial: 'feature', collection: view.features %>
    </div>
  <% end %>
  <% append :page, "</div>" %>
<% end %>
