<% view = HomesHelper::NewHomesHelper.new %>

<%= extends :landing do %>
  <% replace :title,          t(".title") %>
  <% append  :body_class,     ' landing' %>

  <% replace :landing_hero do %>
    <div class="landing__hero__content grid-container">
      <article class="desk-span-five">
        <h1 class="landing__hero__header display-header">
          <%= improve t(".landing.heading") %>
        </h1>
        <p><%= improve t(".landing.intro_copy") %></p>
        <%= link_to(t(".landing.call_to_action"), '#landing-signup', class: "landing__signup__link", title: t(".landing.call_to_action")) %>
      </article>

      <figure class="landing__figure desk-span-five">
        <%= image_tag('landing/pulse@2x.png', height: '309', width: '633') %>
      </figure>
    </div>
  <% end %>

  <% append :landing_features do %>
    <div class="grid-container">
      <%= render partial: 'feature', collection: view.features %>
    </div>
  <% end %>

  <% append :landing_signup do %>
    <div class="grid-container" id="landing-signup">
      <%= form_tag(view.newsletter_form_action, method: :post, class: 'landing__signup desk-span-eight desk-shift-two') do -%>
        <p class="landing__signup__message"><%= improve t(".landing.signup_form.call_to_action") %></p>
        <div class="landing__signup__card">
          <div class="landing__signup__card__front">
            <div class="landing__signup__fields">
              <div class="landing__signup__card__cell--input">
                <%= email_field_tag(view.newsletter_form_field_name, '', placeholder: t(".landing.signup_form.field_placeholder"), class: 'landing__signup__input') %>
              </div>
              <div class="landing__signup__card__cell">
                <%= button_tag(t(".landing.signup_form.submit_button"), class: 'landing__signup__button') %>
              </div>
            </div>
          </div>
          <div class="landing__signup__card__back">
            <div class="landing__signup__card__cell">
              <h3><%=  t(".landing.signup_form.complete_heading") %></h3>
              <h5><%=  t(".landing.signup_form.complete_subheading") %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
