<% view = HomesHelper::NewHomesHelper.new %>

<%= extends :landing do %>
  <% replace :title, t(".title") %>

  <% replace :landing_hero do %>
    <div class="grid-container">
      <div class="landing__hero__content">
        <article class="landing__hero__article">
          <h1 class="landing__hero__header display-header">
            <%= improve t(".landing.heading") %>
          </h1>
          <p><%= improve t(".landing.intro_copy") %></p>
          <%= link_to(t(".landing.call_to_action"), '#landing-signup', class: "landing__hero__signup", title: t(".landing.call_to_action")) %>
          <figure class="landing__hero__figure">
            <%= image_tag('landing/pulse@2x.png', height: '309', width: '633') %>
          </figure>
        </article>
      </div>
    </div>
  <% end %>

  <% append :landing_features do %>
    <div class="grid-container">
      <%= render view.features %>
    </div>
  <% end %>

  <% append :landing_signup do %>
    <div class="grid-container" id="landing-signup">
      <%= form_tag(view.newsletter_form_action, method: :post, class: 'landing__signup') do -%>
        <h4 class="landing__signup__message">
          <%= improve t(".landing.signup_form.call_to_action") %>
        </h4>
        <div class="landing__signup__card">
          <div class="landing__signup__card__front">
            <div class="landing__signup__fields">
              <div class="landing__signup__card__cell--input">
                <%= view.email_signup_field %>
              </div>
              <div class="landing__signup__card__cell">
                <%= button_tag(t(".landing.signup_form.submit_button"), class: 'landing__signup__button') %>
              </div>
            </div>
          </div>
          <div class="landing__signup__card__back">
            <h3><%=  t(".landing.signup_form.complete_heading") %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
