<% cache @view.cache_key do %>
  <div class="layout-dialog panel">
    <div class="panel__content--padded">
      <%= form_tag registration_path do %>

        <%= @view.render_errors %>

        <%= label_tag :name %>
        <%= text_field_tag :name, @view.name %>
        <%= label_tag :email %>
        <%= text_field_tag :email, @view.email, placeholder: "your_email@example.com" %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= label_tag :password_confirmation %>
        <%= password_field_tag :password_confirmation %>
        <%= submit_tag(t(".submit"), class: "button") %>
      <% end %>
    </div>
  </div>
<% end %>
