<%= styleguide_example_for(section) do -%>
  <div class="flag">
    <figure class="flag__figure" >
      <%= image_tag("http://placehold.it/150x150") %>
    </figure>
    <div class="flag__content" role="link">
      90’s stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free
      twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean
      shorts farm-to-table american apparel, 90’s viral letterpress selvage kale
      chips literally Etsy tumblr fanny pack biodiesel. Pitchfork mlkshk tote
      bag quinoa 90’s.
    </div>
  </div>
<% end %>

<%= styleguide_example_for(section) do -%>
  <div class="flag--top">
    <figure class="flag__figure" >
      <%= image_tag("http://placehold.it/150x150") %>
    </figure>
    <div class="flag__content" role="link">
      90’s stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free
      twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean
      shorts farm-to-table american apparel, 90’s viral letterpress selvage kale
      chips literally Etsy tumblr fanny pack biodiesel. Pitchfork mlkshk tote
      bag quinoa 90’s.
    </div>
  </div>
<% end %>

<%= styleguide_example_for(section) do -%>
  <div class="flag--bottom">
    <figure class="flag__figure" >
      <%= image_tag("http://placehold.it/150x150") %>
    </figure>
    <div class="flag__content" role="link">
      90’s stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free
      twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean
      shorts farm-to-table american apparel, 90’s viral letterpress selvage kale
      chips literally Etsy tumblr fanny pack biodiesel. Pitchfork mlkshk tote
      bag quinoa 90’s.
    </div>
  </div>
<% end %>
