<%= form_tag(upload_path, id: "GarminUploadController", class: "uploader") do %>
  <section id="DevicesList"></section>
  <section id="Workouts"></section>
<% end %>

<% append :js do %>
  <%= javascript_tag do %>
    window.garminUploadController = new app.controllers.GarminUploadController({
      garmin: {
        testMode: <%= (Rails.env.test? && !ENV['DISABLE_GARMIN_TESTMODE']) ? true : false %>,
        unlockCodes: {
          "http://app.aerobic.io": "4aef82fa29da77a8a1ba21fa00124d2f",
          "https://app.aerobic.io": "92c4f797178604a964ab3e983475e4b3"
        }
      },
      uploadPath: "<%= upload_path %>",
      existingMemberWorkouts: <%= @member_workouts.to_json.html_safe %>
    });
  <% end %>
<% end %>
