<%= extends :garmin do %>
  <%= append :js do %>
    <script type="text/javascript">
      function load() {
          var display = new Garmin.DeviceDisplay("garminDisplay", {
          pathKeyPairsArray: ["<%= ENV['GARMIN_PATH'] %>","<%= ENV['GARMIN_API_KEY'] %>"],
          showReadDataElement: true,
          showProgressBar: true,
          showFindDevicesElement: true,
          showFindDevicesButton: false,
          showDeviceButtonsOnLoad: false,
          showDeviceButtonsOnFound: false,
          autoFindDevices: true,
          showDeviceSelectOnLoad: true,
          autoHideUnusedElements: true,
          showReadDataTypesSelect: false,
          readDataTypes: [ Garmin.DeviceControl.FILE_TYPES.fitDir, Garmin.DeviceControl.FILE_TYPES.tcxDir],
          deviceSelectLabel: "Choose Device <br/>",
          readDataButtonText:			"List Activities",
          showCancelReadDataButton:		false,
          lookingForDevices: 'Searching for Device <br/><br/> <img src="communicator-api/garmin/device/style/ajax-loader.gif"/>',
          uploadsFinished: "Transfer Complete",
          uploadSelectedActivities: true,
          uploadCompressedData: false,    // Turn on data compression by setting to true.
          uploadMaximum: 1,
          dataFound: "#{tracks} activities found on device",
          showReadDataElementOnDeviceFound: true,
          postActivityHandler: function(activityXml, display) {
            new Ajax.Request('/upload',
                {
                parameters: { activity: activityXml },
                onSuccess: function(transport){
                  window.location = '<%= dashboard_path %>'
                },
                onFailure: function(){ alert('Something went wrong...') }
              })
          }
        });
      }
      load();
    </script>
  <% end %>

  <% replace :content_inner do %>
    <h2>Upload Selected Fitness Activities</h2>

    <table border="0" cellpadding="4" cellspacing="0" width="100%">
      <tr>
        <td>
          <div id="garminDisplay"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="activity"></div>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
