<%= styleguide_example_for(section) do -%>
  <div class="landing">
    <header class="header landing__hero" role="banner">
    <div class="grid-container">
      <div class="landing__hero__content">
        <article class="landing__hero__article">
          <h1 class="landing__hero__header display-header">
            <%=  t(".landing.heading") %>
          </h1>
          <p><%=  t(".landing.intro_copy") %></p>
          <%= link_to(t(".landing.call_to_action"), '#landing-signup', class: "landing__hero__signup", title: t(".landing.call_to_action")) %>
          <figure class="landing__hero__figure">
            <%= image_tag('landing/pulse@2x.png', height: '309', width: '551') %>
          </figure>
        </article>
      </div>
    </div>
  </div>
<% end %>
