<% view = HomesHelper::NewHomesHelper.new %>

<%= styleguide_example_for(section) do -%>
  <section class="landing__row__signup">
    <div class="grid-container" id="landing-signup">
      <%= form_tag(view.newsletter_form_action, method: :post, class: 'landing__signup $modifier_class', novalidate: true) do -%>
        <h4 class="landing__signup__message">
          <%=  t(".landing.signup_form.call_to_action") %>
        </h4>
        <div class="landing__signup__card">
          <div class="landing__signup__card__front">
            <div class="landing__signup__fields">
              <div class="landing__signup__card__cell--input">
                <%= view.email_signup_field %>
              </div>
              <div class="landing__signup__card__cell">
                <%= button_tag(t(".landing.signup_form.submit_button"), class: 'landing__signup__button') %>
              </div>
            </div>
          </div>
          <div class="landing__signup__card__back">
            <h3><%=  t(".landing.signup_form.complete_heading") %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
