<%= extends :application do %>
  <%= append :title, 'aerobic.io' %>

  <%= replace :application do %>
    <%= area :page do %>
      <div class="page">
        <%= area :header do %>
          <header>
            <%= area :header_inner do %>
              <%= area :header_masthead, render(partial: 'shared/header_masthead') %>
            <% end %>
          </header>
        <% end %>
        <%= area :content do %>
          <section>
            <%= area :content_inner %>
          </section>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
